# =========================
# PYTHON VIRTUAL ENV
# =========================
.venv/
.venv311/
venv/
env/
ENV/

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# DATA (RAW / INTERMEDIATE)
# =========================
data/raw_*.csv
data/clear_*.csv

# =========================
# LOGS
# =========================
*.log

# =========================
# ENV SECRETS
# =========================
.env
.env.*
gcp_service_account.json

# =========================
# PYTHON BUILD
# =========================
build/
dist/
*.egg-info
